#samples {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.97;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index:1000;
}
#samples:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}